.vs
target/
*_automoc.cpp
*_autogen
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/*.lib
**/*_automoc.cpp
**/*_autogen
**/CMakeFiles
**/CMakeScripts
**/Makefile
**/install_manifest.txt
**/cmake_install.cmake
**/compile_commands.json
**/CTestTestfile.cmake
**/*.a
